/*police personnalisé Raleway (medium) pris sur google font et générée en web sur fontawesome*/
@font-face {
    font-family: 'raleway-medium';
    src: url('font/raleway-medium-webfont.woff2') format('woff2'),
         url('font/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*police personnalisé 'Raleway-medium' pour tout le site*/
body
{
	font-family: 'raleway-medium';
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/* définition de la largeur du site*/
#bloc_page
{
	width: 100%;
}

/*l'entête du site comportant le logo, deux titres h1 et h2 suivi du menu nav*/
header
{
	display: flex;
	flex-direction: column;
	padding-left: 2em;
}

.log-nav
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#title
{
	display: flex;
	flex-direction: column;
}

#logo
{
	width: 10%;
	height: auto;
}

header h1
{
	font-size: 1.2em; 
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0;
	color: black;
}

header h2
{
	font-size: 1em;
	font-weight: normal;
	margin-top: 0;
	color: gray;
}

nav li
{
	border-top: 2px solid transparent;
	padding-top: 30px;
    padding: 30px;  	
}

nav li:hover
{
   border-top: 2px solid #0065FC;
}
   
.active
{
  border-top: 2px solid #0065FC;
}  

.act
{
	color: gray;
}

nav ul
{
	list-style-type: none;
	display: flex;
	margin-right: 3em;
	margin: 0;
	padding-right: 2em;
}

nav a
{
	text-decoration: none;
	color: #0065FC;
	font-size: 1.1em;
}

/*la partie champ de recherche où le texte peut etre édité par l'usager*/
.location-icon
{
	background-color: #F2F2F2;
	border: none;
	width: 10%;
	border-radius: 15px 0 0 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
}

#search_box 
{
	width: 25%;
    margin-bottom: 10px;
	display: flex;
	border-radius: 15px;
	border: 1px solid #F2F2F2;
	margin-left: 2em;
}

input
{
	border: none;
	padding-left: 8px;
	padding-right: 30px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1em;	
}	

button
{
	font-size: 1em;
	border: none;
	background-color: #0065FC;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
	color: white;
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
}

.search-icon
{
	display: none;
}

/*la partie les filtres non fonctionnel changeant d'apparence au survol*/
#filters  
{
	display: flex;
	align-items: baseline;
	padding-top: 10px;
	padding-left: 2em;
}
 
#filters h2
{
	font-size: 1.6em;
	margin: 15px;
    margin-left: 0;
    margin-bottom: 10px;	
}	 
 
.list-item
{
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	margin: 15px;
	text-decoration: none;
	padding-right: 30px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 0;
	color: black;
	font-size: 1.4em;
	border-left: none;
	font-weight: bold;
}

.list-item:hover
{
	text-decoration: underline;
	color: red;
}
 
.filter-item
{
    background-color: #DEEBFF;
    color: #0065FC;
    border: 1px solid #F2F2F2;
	border-radius: 50%;
	padding: 14px;
	margin-right: 10px;
	border-left: none;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 18px;
	line-height: 32px;
}

/*la partie avec l'icône info*/
#information 
{   
    display: flex;
	flex-direction: row;
    align-items: baseline;
	padding-left: 2em;
}

.icon-inf
{
	color: #0065FC;
	background-color: white;
	padding: 6px 10px;
	margin-right: 0.5em;
	border-radius: 50%;
	border: 1px solid #F2F2F2;
}

 #information p
 {
    font-size: 1em;
    color: gray;
 }	

/*Entame du corps du site*/
section
{
	display: flex;
	margin-bottom: 20px;
	padding-left: 2em;
	padding-right: 2em;
}
	
/*partie hébergements à Marseille*/
#accomodation_mar 
{
	border: 1px solid #F2F2F2;
	border-radius: 15px;
	background-color: #F2F2F2;
    display: flex;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 70%;
	height: 42em;
    flex-direction: column;
    padding-left: 0.7em;
    padding-right: 0.7em;	
}
	
#accomodation_mar h2
{
	font-size: 1.4em;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 0;
	margin-bottom: 2px;
}

.am a  
{
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	padding-top: 2px;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
	color: #0065FC;	
}

.am figure
{
    border: 1px solid #F2F2F2;
	background-color: white;
	border-radius: 15px;
    padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	margin: 0.5em;
	width: 30%;
	position: relative;
}

.am figcaption 
{
    padding: 0.7em;
}

.am figcaption h3
{
	font-size:1em;
	text-decoration: none;
	color: black;
	margin: 0;
}

.am figcaption p
{
	font-size: 0.8em;
	text-decoration: none;
	color: gray;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.am img
{
	width: 100%;
	height: 10em;
	border-radius: 15px 15px 0 0;
}

.star-active
{
	color: #F2F2F2;
}

#accomodation_mar p 
{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#accomodation_mar p a
{
	text-decoration: none;
	color: black;
    margin-left: 0.8em;
    font-weight: bold;
    margin-top: 0.5em;
}
	
#accomodation_mar p a:hover
{
	text-decoration: underline;
}
	
	
/*partie aside*/
#pop-eco
{
	display: flex;
	align-items: baseline;
	padding-left: 23px;
	padding-top: 15px;
	justify-content: space-between;
}

aside
{
	border: 1px solid #F2F2F2;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: 28%;
	height: 43em;
	position: relative;
	margin-left: 1.5em;
	padding-right: 2.5em;
}


aside figure
{
	border: 1px solid #F2F2F2;
	background-color: white;
	border-radius: 15px;
    padding-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	margin: 25px;
	margin-top: 0;
	margin-bottom: 25px;
	width: 93%;
}

aside figcaption
{
	float: right;
	padding-right: 0.3em;
	padding-top: 0.1em;
	padding-left: 0.1em;
	margin-right: 1.5em;
}

aside h2
{
	font-size: 1.4em;
}

aside img
{
	width: 55%;
	height: 10em;
	border-radius: 15px 0 0 15px;
}

aside figcaption h3
{
	font-size: 0.9em;
	text-decoration: none;
	color: black;
}

aside figcaption p
{
	font-size:0.8em;
	text-decoration: none;
	color: gray;
}

aside a
{
    text-decoration: none;
	color: #0065FC;
}

.starter
{
	padding-top: 2em;
}

/*partie activité*/
#activities_mar 
{
	display: flex;
	flex-direction: column;
	padding-left: 2em;
	padding-right: 2em;
}

.ma a
{
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	font-size: 1em;
}

.ma .col 
{
    width: 23%;
    position: relative;
	margin-right: 0;	
}

.ma figure
{
	border-radius: 20px;
    border: 1px solid #F2F2F2;
	margin-left: 0;
	width: 100%;
	margin-bottom: 40px;
	box-shadow: 0 3px 3px #F2F2F2;	
}

#activities_mar h2
{
	font-size: 1.2em;
}

.ma figcaption h3
{
	font-size: 1em;
	color: black;
	padding-left: 8px;
	padding-bottom: 15px;
}

.ma img
{
    border-radius: 20px 20px 0 0;
    width: 100%;
}

/*class figure ma*/
.box-2
{
	height: 15em;
	padding-bottom: 3px;	
}

.box-3
{
	height: 15em;
	padding-bottom: 3px;
}

.box-5
{
	height: 14em;
	padding-bottom: 3px;	
}

.box-6
{
	height: 16em;
	padding-bottom: 3px;
}

/*partie footer*/
footer
{
	display: flex;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	width: auto;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	height: 10em;
}

footer a
{
	text-decoration: none;
	color: black;
	font-size: 1em;	
}

footer ul
{
	list-style-type: none;
	padding-left: 2em;
	margin-right: 18em;
}

footer li
{
	padding: 5px;
}

footer h2
{
	font-size: 1.2em;
	padding-left: 1.9em;
}

#operation h2
{
	padding-left: 1.9em;
}

#charter h2
{
    padding-left: 1.9em;
}

#help h2
{
	padding-left: 1.9em
}
   	
 /*media queries maquette iphone*/
@media all and (max-device-width: 480px)
{
	bloc_page
	{
		width: auto;
	}	
}

@media all and (max-device-width: 480px)
{
    header 
	{
    	display: flex;
        flex-direction: column;
	}

    .log-nav
       {
	    display: flex;
	    flex-direction: column;
	}
	
	#title
       {
	    display: flex;
	    flex-direction: column;
    }

    #logo
       {
	    width: 30%;
	    height: auto;
    }

    header h1
       {
	    font-size: 1.5em; 
	    font-weight: bold;
	    margin-top: 15px;
	    margin-bottom: 0;
	    color: black;
        word-wrap: break-word;
	    width: 100%;
	}

    header h2
       {
	    font-size: 1em;
	    font-weight: normal;
	    margin-top: 10px;
	    color: gray;
	    width: 100%;
		margin-bottom: 30px;
    }

	nav li
       {
	    border-bottom: 2px solid transparent;
	    padding-bottom: 15px;   		
    }
  
    .active
       {
        border-bottom: 2px solid #0065FC;
		border-top: none;		
    }

    .active-1
	{
        border-bottom: 2px solid #F2F2F2;
      	padding-bottom: 15px;
    }		
		
	.active:nth-child(1)
	{
	    order: 2;
	}
	
	.active-1:nth-child(2)
	{
		order: 3;
	}
	
	.active-2:nth-child(3)
	{
	    order: 1;
	}
	
	.active-2
	{
	    position: absolute ;
        top: 0;
        right: 0;
		padding-right: 2em;
		padding-top: 1em;
    }
	
	.act
       {
	    color: gray;
    }

    nav ul
       {
	    list-style-type: none;
	    display: flex;
		margin-bottom: 2.5em;
		justify-content: space-between;
		width: auto;
		padding-left: 0;
		padding-right: 0;
    }

    nav a
       {
	    text-decoration: none;
	    color: #0065FC;
	    font-size: 1.1em;
    }
}
	
@media all and (max-device-width: 480px)
{
	.location-icon
       {
	    background-color: #F2F2F2;
	    border: 1px solid #F2F2F2;
	    width: 10%;
	    border-radius: 15px 0 0 15px;
	    padding-top: 16px;
	    padding-right: 16px;
		padding-left: 16px;
	    text-align: center;
    }
	
	.search-icon
	{
	    border: none;
	    background-color: #0065FC;
	    width: 15%;
	    border-radius: 15px;
	    margin-right: 0;
	    cursor: pointer;
		color: white;
		display: block;
		padding-top: 16px;
		padding-left: 16px;
		text-align: center;
		padding-right: 16px;
	}

    #search_box 
       {
	    width: 82%;
        margin-bottom: 10px;
	    border: 1px solid #F2F2F2;
	    padding: 0;
	    display: flex;
	    flex-direction: row;
	    border-radius: 15px;
		height: auto;
		margin-left: 20px;
		margin-right: 0;
    }

    form
       {
	    padding: 0;
	}

    input
       {
	    border: none;
		padding-right: 1px;
		font-size: 0.9em;
    }	

    button
       {
	    display: none;
    }
}

@media all and (max-device-width: 480px)
{	
    #filters 
       {
	    display: flex;
	    flex-direction: column;
	    align-items: baseline;
		padding-left: 1.4em;
    }
 
    #filters h2
       {
	    font-size: 1.4em;
	    margin: 7px;	
    }

    #fil
	{
        display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-left: 0;
    }
	
    .list-item
       {
	    border: 2px solid #F2F2F2;
	    border-radius: 35px;
	    padding-left: 0;
		padding-right: 8px;
	    margin: 15px;
	    text-decoration: none;
	    padding-top: 0;
	    padding-bottom: 0;
	    color: black;
	    font-size: 1.1em;
		margin-left: 0;
		border-left: 0;
		margin-bottom: 0;
    }

    .list-item:hover
       {
	    text-decoration: underline;
	    color: red;
    }
 
    .filter-item
       {
        background-color: #DEEBFF;
        color: #0065FC;
        border: 1px solid #F2F2F2;
	    border-radius: 50%;
	    padding: 14px;
	    margin-right: 4px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		text-align: center;
		
    }
}	

@media all and (max-device-width: 480px)
{
    /*la partie avec l'icône info*/
    #information 
       {   
        display: flex;
	    flex-direction: row;
        align-items: baseline;
	    padding-left: 1.3em;
		width: 90%;
		padding-right: 0;
		margin-right: 0;
    }

    .icon-inf
       {
	    color: #0065FC;
	    background-color: white;
	    padding: 6px 10px;
	    margin-right: 0.5em;
	    border-radius: 50%;
	    border: 1px solid #F2F2F2;
    }

    #information p
       {
        font-size: 1em;
        color: gray;
    }	
}

@media all and (max-device-width: 480px)
{
    section
       {
	    display: flex;
		flex-direction: column;
	    margin-bottom: 20px;
	    padding-left: 0;
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
    }
	
    #accomodation_mar:nth-child(1)
	{
	    order: 2;
	}

    aside:nth-child(2)
	{
	    order: 1;
    }
	
	/*partie hébergements à Marseille*/
    #accomodation_mar 
       {
	    border: none;
	    border-radius: 0;
		background-color: white;
        display: flex;
	    padding-top: 0.5em;
	    padding-bottom: 0.5em;
	    width: auto;
	    height: auto;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;		
    }
	
    #accomodation_mar h2
       {
	    font-size: 1.4em;
	    padding-left: 20px;
	    padding-top: 5px;
	    padding-bottom: 0;
	    margin-bottom: 2px;
    }

    .am a
       {
	    display: flex;
	    flex-direction: column;
	    margin: 5px;
	    padding-top: 2px;
        position: relative;
		text-decoration: none;
	    color: #0065FC;
    }

    .am figure
       {
        border: 1px solid #F2F2F2;
	    background-color: white;
	    border-radius: 15px;
        padding-top: 4px;
	    padding-right: 4px;
	    padding-left: 4px;
	    width: 88%;
		box-shadow: 1px 1px 12px #F2F2F2;
		margin-left: 15px;
    }

    .am figcaption 
       {
        padding: 0.7em;
    }

    .am figcaption h3
       {
	    font-size:1em;
	    text-decoration: none;
	    color: black;
	    margin: 0;
    }

    .am figcaption p
       {
	    font-size: 0.8em;
	    text-decoration: none;
	    color: gray;
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
    }

    .am img
       {
	    width: 100%;
	    height: 10em;
	    border-radius: 15px 15px 0 0;
    }

    .star-active
       {
	    color: #F2F2F2;
    }

    #accomodation_mar p 
       {
        margin-top: 0.5em;
        margin-bottom: 1em;
		padding-left: 0.6em;
    }

    #accomodation_mar p a
       {
	    text-decoration: none;
	    color: black;
        margin-left: 0.8em;
        font-weight: bold;
        margin-top: 0.5em;
    }
	
    #accomodation_mar p a:hover
       {
	    text-decoration: underline;
    }
	
	
    /*partie aside*/
    #pop-eco
       {
	    display: flex;
	    align-items: baseline;
	    padding-left: 23px;
	    padding-top: 15px;
	    justify-content: space-between;
		padding-right: 20px;
    }

    aside
       {
	    border: 1px solid #F2F2F2;
	    border-radius: 0;
		background-color: #F2F2F2;
	    width: auto;
	    height: auto;
	    margin-left: 0;
		margin-right: 0;
        padding-left: 0;
        padding-right: 0;		
	}


    aside figure
       {
	    border: 1px solid #F2F2F2;
	    background-color: white;
	    border-radius: 15px;
        padding-top: 4px;
	    padding-right: 4px;
	    padding-left: 4px;
	    margin-top: 0;
	    margin-bottom: 25px;
	    width: 88%;
		margin-left: 15px;
    }   

    aside figcaption
       {
	    float: right;
    }

    aside h2
       {
	    font-size: 1.4em;
    }

    aside img
       {
	    width: 40%;
	    height: 10em;
	    border-radius: 15px 0 0 15px;
    }

    aside figcaption h3
       {
	    font-size: 0.8em;
	    text-decoration: none;
	    color: black;
	    padding-left: 0.2em;
	    padding-right: 0.9em;
    }

    aside figcaption p
       {
	    font-size:0.8em;
	    text-decoration: none;
	    color: gray;
	    padding-left: 0.2em;
    }

    aside a
       {
        text-decoration: none;
	    color: #0065FC;
	    margin-top: 0.8em;
    }
}

@media all and (max-device-width: 480px)
{
/*partie activité*/
    #activities_mar 
       {
	    display: flex;
	    flex-direction: column;
		width: auto;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
    }

    .ma a
       {
	    display: flex;
		flex-direction: column;
		text-decoration: none;
	    font-size: 1em;
    }

    .ma .col 
       {
        width: 88%;
        position: relative;
        margin-left: 20px;		
	}

	.ma figure
       {
	    border-radius: 20px;
        border: 1px solid #F2F2F2;
	    margin-left: 0;
	    width: 100%;
	    margin-bottom: 40px;
	    box-shadow: 0 3px 3px #F2F2F2;	
    }

    #activities_mar h2
       {
	    font-size: 1.2em;
		padding-left: 20px;
    }

    .ma figcaption h3
       {
	    font-size: 1em;
	    color: black;
	    padding-left: 8px;
	    padding-bottom: 15px;
    }

    .ma img
       {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    .img1
	{
	    height: 15em;
	}
	
    .img4
	{
	    height: 15em;
	}

/*class figure ma*/
    

    .box-2
       {
	    height: 14em;
	    padding-bottom: 3px;
	}

    .box-3
       {
	    height: 14em;
	    padding-bottom: 3px;
	}

    .box-5
       {
	    height: 14em;
	    padding-bottom: 3px;
	}

    .box-6
       {
	    height: 15em;
	    padding-bottom: 3px;
    }
}
@media all and (max-device-width: 480px)
{
/*partie footer*/
    footer
       {
	    display: flex;
	    border: 1px solid #F2F2F2;
	    background-color: #F2F2F2;
	    width: auto;
	    margin-bottom: 0;
	    height: auto;
		flex-direction: column;
		margin-right: 0;
		margin-left: 0;
  		justify-content: space-between;
		padding-left: 0;
		padding-right: 0;
    }

    footer a
       {
	    text-decoration: none;
	    color: black;
	    font-size: 1em;	
    }

    footer ul
       {
	    list-style-type: none;
		padding-left: 1.5em;
		margin-right: 0;
    }

    footer h2
       {
	    font-size: 1.2em;
	    padding-left: 1.5em;
    }

    #operation h2
       {
	    padding-left: 1.5em; 
    }

    #charter h2
       {
        padding-left: 1.5em;
    }

    #help h2
       {
	    padding-left: 1.5em;
    }
}	

/*responsive tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px)
{
	bloc_page
	{
		width: auto;
	}	
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    header
       {
	    display: flex;
	    flex-direction: column;
	    padding-left: 2em;
    }

    .log-nav
       {
	    display: flex;
	    flex-direction: column;
    }

    #title
       {
	    display: flex;
	    flex-direction: column;
    }

    #logo
       {
	    width: 20%;
	    height: auto;
		padding-bottom: 30px;
    }

    header h1
       {
	    font-size: 1.2em; 
	    font-weight: bold;
	    margin-top: 15px;
	    margin-bottom: 0;
	    color: black;
    }

    header h2
       {
	    font-size: 1em;
	    font-weight: normal;
	    margin-top: 0;
	    color: gray;
	}
    
	nav li
       {
	    border-top: 2px solid transparent;
	    padding-top: 30px;
        padding: 30px;  	
    }

    nav li:hover
       {
        border-top: 2px solid #0065FC;
    }
   
    .active
       {
        border-top: 2px solid #0065FC;
    }  

    .act
       {
	    color: gray;
    }

    nav ul
       {
	    list-style-type: none;
	    display: flex;
	    padding-left: 0;
    }

    nav a
       {
	    text-decoration: none;
	    color: #0065FC;
	    font-size: 1.1em;
    }
}
	
@media screen and (min-width: 768px) and (max-width: 1024px)
{
	.location-icon
       {
	    background-color: #F2F2F2;
	    border: none;
	    width: 10%;
	    border-radius: 15px 0 0 15px;
	    padding-top: 16px;
	    padding-bottom: 16px;
	    padding-left: 16px;
	    padding-right: 16px;
	    text-align: center;
    }

    #search_box 
       {
	    width: 40%;
        margin-bottom: 10px;
	    display: flex;
	    border-radius: 15px;
	    border: 1px solid #F2F2F2;
	    margin-left: 2em;
}

    input
       {
	    border: none;
	    padding-left: 8px;
	    padding-right: 30px;
        font-weight: bold;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 1em;	
    }	

    button
       {
	    font-size: 1em;
	    border: none;
	    background-color: #0065FC;
	    border-radius: 0 15px 15px 0;
	    cursor: pointer;
	    color: white;
	    text-align: center;
	    padding-left: 16px;
	    padding-right: 16px;
    }

    .search-icon
       {
	    display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{	
    #filters  
       {
	    display: flex;
	    padding-top: 10px;
	    padding-left: 2em;
		flex-direction: column;
    }
 
    #fil
	{
        display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-left: 0;
    }
	
	#filters h2
       {
	    font-size: 1.6em;
	    margin: 15px;
        margin-left: 0;
        margin-bottom: 10px;	
    }	 
 
    .list-item
       {
	    border: 2px solid #F2F2F2;
	    border-radius: 35px;
	    margin: 15px;
	    text-decoration: none;
	    padding-right: 12px;
	    padding-top: 0;
	    padding-bottom: 0;
	    padding-left: 0;
	    color: black;
	    font-size: 1.4em;
	    border-left: none;
	    font-weight: bold;
		margin-left: 0;
    }

    .list-item:hover
       {
	    text-decoration: underline;
	    color: red;
    }
 
    .filter-item
       {
        background-color: #DEEBFF;
        color: #0065FC;
        border: 1px solid #F2F2F2;
	    border-radius: 50%;
	    padding: 14px;
	    margin-right: 10px;
	    border-left: none;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		text-align: center;
    }
}	

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    /*la partie avec l'icône info*/
    #information 
       {   
        display: flex;
	    flex-direction: row;
        align-items: baseline;
	    padding-left: 2em;
    }

    .icon-inf
       {
	    color: #0065FC;
	    background-color: white;
	    padding: 6px 10px;
	    margin-right: 0.5em;
	    border-radius: 50%;
	    border: 1px solid #F2F2F2;
    }

    #information p
       {
        font-size: 1em;
        color: gray;
    }		
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    /*Entame du corps du site*/
    section
       {
	    display: flex;
	    margin-bottom: 20px;
	    padding-left: 2em;
	    padding-right: 2em;
		flex-direction: column;
    }
	
    /*partie hébergements à Marseille*/
    #accomodation_mar 
       {
	    border: 1px solid #F2F2F2;
	    border-radius: 0;
	    background-color: #F2F2F2;
        display: flex;
	    padding-top: 0.5em;
	    padding-bottom: 0.5em;
	    width: 97%;
	    height: auto;
        flex-direction: column;
        padding-left: 0.7em;
        padding-right: 0.7em;	
    }
	
    #accomodation_mar h2
       {
	    font-size: 1.4em;
	    padding-left: 15px;
	    padding-top: 5px;
	    padding-bottom: 0;
	    margin-bottom: 2px;
    }

    .am a
       {
	    display: flex;
	    flex-wrap: wrap;
	    margin: 5px;
	    padding-top: 2px;
        justify-content: space-between;
        position: relative;
        text-decoration: none;
	    color: #0065FC;		
    }

    .am figure
       {
        border: 1px solid #F2F2F2;
	    background-color: white;
	    border-radius: 15px;
        padding-top: 4px;
	    padding-right: 4px;
	    padding-left: 4px;
	    margin: 0.5em;
	    width: 45%;
	    position: relative;
    }

    .am figcaption 
       {
        padding: 0.7em;
    }

    .am figcaption h3
       {
	    font-size:1em;
	    text-decoration: none;
	    color: black;
	    margin: 0;
    }

    .am figcaption p
       {
	    font-size: 0.8em;
	    text-decoration: none;
	    color: gray;
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
    }

    .am img
       {
	    width: 100%;
	    height: 10em;
	    border-radius: 15px 15px 0 0;
    }

    .star-active
       {
	color: #F2F2F2;
    }

    #accomodation_mar p 
       {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    #accomodation_mar p a
       {
	    text-decoration: none;
	    color: black;
        margin-left: 0.8em;
        font-weight: bold;
        margin-top: 0.5em;
    }
	
    #accomodation_mar p a:hover
       {
	    text-decoration: underline;
    }
	
	
    /*partie aside*/
    #pop-eco
       {
	    display: flex;
	    align-items: baseline;
	    padding-left: 23px;
	    padding-top: 15px;
	    justify-content: space-between;
    }

    aside
       {
	    border: 1px solid #F2F2F2;
	    border-radius: 0;
	    background-color: #F2F2F2;
	    width: 78%;
	    height: 49em;
	    position: relative;
	    margin-left: 4em;
	    padding-right: 2em;
    }


    aside figure
       {
	    border: 1px solid #F2F2F2;
	    background-color: white;
	    border-radius: 15px;
        padding-top: 4px;
	    padding-right: 4px;
	    padding-left: 4px;
	    margin: 25px;
	    margin-top: 0;
	    margin-bottom: 25px;
	    width: 93%;
    }

    aside figcaption
       {
	    float: right;
	    padding-right: 0.3em;
	    padding-top: 0.1em;
	    padding-left: 0.1em;
	    margin-right: 8em;
    }

    aside h2
       {
	    font-size: 1.4em;
    }

    aside img
       {
	    width: 45%;
	    height: 12em;
	    border-radius: 15px 0 0 15px;
    }

    aside figcaption h3
       {
	    font-size: 1em;
	    text-decoration: none;
	    color: black;
    }

    aside figcaption p
       {
	    font-size:0.8em;
	    text-decoration: none;
	    color: gray;
    }

    aside a
       {
        text-decoration: none;
	    color: #0065FC;
    }

    .starter
       {
	    padding-top: 4em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    /*partie activité*/
    #activities_mar 
       {
	    display: flex;
	    flex-direction: column;
	    padding-left: 2em;
	    padding-right: 2em;
    }

    .ma a
       {
	    display: flex;
	    justify-content: space-between;
		flex-wrap: wrap;
		text-decoration: none;
	    font-size: 1em;
    }

    .ma .col 
       {
        width: 48%;
        position: relative;
	    margin-right: 0;	
    }

    .ma figure
       {
	    border-radius: 20px;
        border: 1px solid #F2F2F2;
	    margin-left: 0;
	    width: 100%;
	    margin-bottom: 40px;
	    box-shadow: 0 3px 3px #F2F2F2;
        height: auto;		
    }

    #activities_mar h2
       {
	    font-size: 1.2em;
    }

    .ma figcaption h3
       {
	    font-size: 1em;
	    color: black;
	    padding-left: 8px;
	    padding-bottom: 15px;
    }

    .ma img
       {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    /*class figure ma*/
    .box-2
       {
	    height: 15em;
	    padding-bottom: 3px;	
    }

    .box-3
       {
	    height: 15em;
	    padding-bottom: 3px;
    }

    .box-5
       {
	    height: 14em;
	    padding-bottom: 3px;	
    }

    .box-6
       {
	    height: 16em;
	    padding-bottom: 3px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    /*partie footer*/
    footer
       {
	    display: flex;
	    border: 1px solid #F2F2F2;
	    background-color: #F2F2F2;
	    width: auto;
	    margin-bottom: 0;
	    margin-left: 0;
	    margin-right: 0;
	    height: 10em;
    }

    footer a
       {
	    text-decoration: none;
	    color: black;
	    font-size: 1em;	
    }

    footer ul
       {
	    list-style-type: none;
	    padding-left: 1em;
	    margin-right: 3em;
    }

    footer li
       {
	    padding: 5px;
    }

    footer h2
       {
	    font-size: 1.2em;
	    padding-left: 1em;
    }

    #operation h2
       {
	    padding-left: 1em;
    }

    #charter h2
       {
        padding-left: 1em;
    }

    #help h2
       {
	    padding-left: 1em;
    }
}	
	













